{
  "env": {
    "test": {
      "presets": [
        ["env", {
          "modules": "commonjs",
          "target": {
            "node": "current"
          }
        }]
      ]
    },
    "es": {
      "presets": [
        ["env", {
          "modules": false
        }]
      ]
    },
    "commonjs": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }]
      ]
    }
  },
  "plugins": ["transform-object-rest-spread"]
}